<h1>Monthly Rent</h1>
<table>
	<tr>
		<th></th>
		<% @all_tenants.each do |tenant| %>
			<th><%= tenant %></th>
		<% end %>
		<th style="text-align: left;">Parameters</th>
	</tr>
	<% @months.each do |month_name, month| %>
		<tr>
			<td><strong><%= month_name %></strong></td>
			<% @all_tenants.each do |tenant| %>
				<td style="width: 100px; text-align: center;">
					<% if month[:tenant_names].include? tenant %>
						<%
							room = month[:tenants][tenant]
							rent = month[:rent][room]
							if month[:split_rooms]
								month[:split_rooms].each do |name, roommates|
									room_rent = month[:rent][month[:tenants][name]]
									roommates.each do |roommate, ratio|
										if roommate == tenant
											rent = room_rent * ratio
										end
									end
								end
							end
						%>
						$<%= '%.2f' % rent %>
					<% end %>
				</td>
			<% end %>
			<td style="font-size: 0.8em;"><%= month[:parameters] %></td>
		</tr>
	<% end %>
</table>

<h1>Calculate Rent</h1>
<form action="/calculate" method="post">
	Rooms: <input name="rooms" type="text" value='<%= @last_month[:rooms].to_json %>' /><br />
	Extra Roommates: <input name="extra_roommates" type="text" value='<%= @last_month[:extra_roommates].to_json %>' /><br />
	Partial Months: <input name="partial_months" type="text" value='<%= @last_month[:partial_months].to_json %>' /><br />
	Fixed Rents <input name="fixed_rents" type="text" value='<%= @last_month[:fixed_rents].to_json %>' /><br />
	<input type="submit" />
</form>
